
/*  This style is applied to the component itself */
:host {
    margin-top: 50px; 
    border: 3px black solid; 
    color:red;
    height:400px;
    width: 400px; 

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: rgb(15, 19, 63) ;
} 

.btnShow {
    margin-bottom: 25px;
}

.btnHide {
    display:none;
}

